{% extends 'base.html' %}
{% block title %}
    Weather App using third-party APIs

{% endblock title %}


{% block content %}


    {% if api %}

        {% if api == "Error..." %}
            There is an error, please try again......
        {% else %}
        <div class="jumbotron {{category_name}}" style="margin-top:40px;">

              <h1 class="display-4">{{api.0.Category.Name}}</h1>
              <p class="lead">Current {{api.0.ReportingArea}}: {{api.0.AQI}} </p>
              <p>{{category_description}}</p>
        </div>

        {% endif %}

    {% endif %}


{% endblock content %}
